<div id="<%= dom_id evento %>">
  <p>
    <strong>Nome:</strong>
    <%= evento.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= evento.descricao %>
  </p>

  <p>
    <strong>Data hora inicio:</strong>
    <%= evento.data_hora_inicio %>
  </p>

  <p>
    <strong>Data hora termino:</strong>
    <%= evento.data_hora_termino %>
  </p>

  <p>
    <strong>Horas tocadas:</strong>
    <%= evento.horas_tocadas %>
  </p>

  <p>
    <strong>Minutos tocados:</strong>
    <%= evento.minutos_tocados %>
  </p>

  <p>
    <strong>Cache:</strong>
    <%= evento.cache %>
  </p>

  <p>
    <strong>Couvert:</strong>
    <%= evento.couvert %>
  </p>

</div>
